/* 문제 1 */
#container1.highlight{
    background-color: yellow;
}

/* 문제 2 */
#container2>p{
    color: red;
}

#container2>pre>p{
    color: pink;
}

/* 문제 3 */

#container3>input:not(input[type~=submit]){
    border: 1px solid blue;
}

/* 문제 4 */

#container4>h1, #container4>p.title{
    color: green;
    font-size: 20px;
}

/* 문제 5 */

div[class^=user]{
    background-color: lightgray;
}

div[class$=info]{
    color: red;
}

div[class~=product]{
    background-color: coral;
}

div[class|=admin]{
    background-color: greenyellow;
}

/* 문제 6 */

#container6>input:hover{
    background-color: green
}
#container6>input:active{
    background-color: yellow;
}


/* 문제 7 */
#container7>li:nth-of-type(2){
    font-weight: bold;
}

/* 문제 8 */
#container8>p:only-of-type{
    color: blue;
}
/* 문제 9 */
#container9>p[title*=important]{
    background-color: red;
}

/* 문제 10 */
#menu>li.active{
    color: red;
}