/* 1. 속성 선택자*/

/* 모든 div 태그들 중 name 속성값이 name1과 "일치"하는 요소  */

div[name=name1]{
    background-color: orangered;
}

/* 
    선택자[속성~=속성값] : 속성의 "포함"(단어로써)
    div태그 중 name 속성값에 name1이 "포함" 되어있는 요소를 선택
*/

div[name~=name1]{
    background-color: yellow;
}

/* 
    선택자[속성|=속성값] : 속성의 "시작"을 검사(-앞에 한 단어기준)
    div중 class 속성값이 div로 "시작"되는 요소를 선택
*/
div[class|=div]{
    background-color: cyan;
}

/* 
    선택자[속성^=속성값] : 속성의 시작값을 검사
    div중 name 속성의 값이 na로 "시작"디는 요소를 선택
*/

div[name^=na]{
    background-color: blue;
}

/* 
    선택자[속성$=속성값] : 속성값이 무엇으로 "끝"나는지 검사
    div 태그들 중 class 속성값이 ss로 끝나는 요소 선택
*/

div[class$=ss]{
    color: white;
}

/* 
    선택자[속성*=속성값] : 
    div중 class 속성값에 i가 "포함"되어있는 요소 선택
*/

div[class*=i]{
    background-color: yellow;
    color: red;
}

/* 
    class 속성값이 div-class인 애들 중 name 속성값에 name3가 포함되어 있는 요소 선택
    선택 후 스타일 부여는 자유
*/

.div-class[name~=name3]{
        background-color: black;
        color: white;
}


/* 2. 자손 & 후손 선택자
   a>b : a요소의 자손들 중 b 요소 선택


*/

#test1>h4{
    background-color: orange;
}

#test1>ul>li{
    color: darkcyan;
    background-color: blue;
}

/* 
    a b : a요소의 후손들 중 b 요소만 선택
*/

#test1 li{
    color: white;
    background-color: black;
}

/* 3. 동위 선택자 */
/* a+b : a요소 뒤의 b 요소 하나만을 선택 */

#test2+div{
    background-color: yellow;
}

/* 바로 뒤의 요소가 아니기 때문에 반영되지 않는다. */
#test2+ul{
    background-color: brown;
}

/* a~b : a요소 뒤에 모든 b 요소를 선택 */
/* #test2~div{
     background-color: brown;
    color: yellow;
} */

#test2~ul{
    background-color: green;
}

/* 4. 반응 선택자 */
.area{
    background-color: yellowgreen;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

#active-test:active{
    background-color: yellow;
    color: red;
}

#hover-test:hover{
    background-color: maroon;
    color: white;
}

/* 5. 상태 선택자 */
input[type=checkbox]:checked{
    width: 20px;
    height: 20px;
}

input[type=checkbox]:checked+label{
    font-size: 20px;
}

input:focus{
    background-color: pink;
}




