.area1{
    background-color: red;
}
.area2{
    background-color: orange;
}
.area3{
    background-color: yellow;
}
.area4{
    background-color: green;
}
.area5{
    background-color: blue;
}

.block{
    border: 1px solid black;
    width: 150px;
    height: 150px;
    color: white;

    display: block;
}

.inline{
    display: inline;
}

.inline-block{
    display: inline-block;
}



/* 화면 2분할*/
#container-1{
    border: 3px solid black;
    width: 323px;
    height: 472px;
}
#container-1>div:first-of-type{
    width: 100%;
    height: 30%;
    background-color: red;
    display: block;
}

#container-1>div:last-of-type{
    width: 100%;
    height: 70%;
    background-color: blue;
    display: block;
}



/* 화면 3분할 */
#container-2{
    border: 3px solid black;
    width: 323px;
    height: 472px;
}
#container-2>div:first-of-type{
    height: 20%;
    background-color: yellowgreen;
}

#container-2>div:nth-child(2){
    height: 30%;
    background-color: orangered
}

#container-2>div:last-of-type{
    height: 50%;
    background-color: skyblue;
}

/* 좌우 2분할 */

#container-3{
    border: 5px solid red;
    width: 400px;
    height: 200px;    
}

#container-3>div:first-child{
    width: 50%;
    height: 100%;
    display: inline-block;
    background-color: pink;
}

#container-3>div:last-child{
    width: 50%;
    height: 100%;
    display: inline-block;
    background-color: purple;
}

.div-4{
    border: 3px solid black;
    height: 100px;
}

#test4{
    background-color: deeppink;

    display: none;
    /* 요소는 존재하지만 화면에 보이지 않는다.
    + 영역도 차지하지 않는다. */

    /* opacity: 0.5; 요소의 가시성을 관리하는 속성 */
    /* visibility: hidden; 요소의 투명도를 0으로 만드는 속성 */
}